@charset "utf-8";

/*header*/
.header {
	width: 100%;
	height: 50px;
	color: white;
	position: relative;
}

.header .logo {
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
	background: url(../img/4879b596-0b39-4534-bcc8-a50693fe825e.jpg) no-repeat;
}

.header .content {
	height: 50px;
	position: relative;
}

.header .content ul {
	height: 50px;
	margin-left: 10px;
	line-height: 50px;
}

.header .content ul li:first-child {
	width: 60px;
	font-size: 15px;
	margin-right: 22px;
	color: #8d8d8d;
}

.header .content ul li:last-child {
	width: 45px;
}

.header .content ul li {
	width: 30px;
	height: 50px;
	color: #8d8d8d;
	font-size: 15px;
	margin-right: 22px;
}

.header .rgt {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 80%;
}

.header .phone {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	background: url(../img/f090e662-843a-4d06-a195-3ecd10f07903.png) no-repeat;
	background-size: contain;
}
.header .login{
	width: 90px;
	height: 50px;
	line-height: 50px;
}
.header .login a{
	width: 30px;
}
.nav{
	width: 100%;
	height: 70px;
	position: fixed;
	top: 50px;
	z-index: 9998;
	background-color: #E0E0E0;
}
.nav .container ul{
	width: 820px;
	height: 100%;
	margin-left: 10px;
}
.nav .container ul li{
	width: 68px;
	height: 100%;
	font-size: 17px;
	font-weight: 550;
	line-height: 70px;
	margin-right: 33px;
}
.nav input{
	width: 180px;
	height: 36px;
	position: absolute;
	top: 10px;
	border-radius: 30px;
	padding-right: 30px;
	background: url(../img/f26ff743-3f82-4072-b27a-193f0e9ad675.png) no-repeat right center;
}
.nav .search{
	width: 180px;
	height: 80px;
	position: absolute;
	top: 50px;
	color: #ccc;
	border: 1px solid #ccc;
	left: 1000px;
	font-size: 12px;
	display: none;
	background-color: #fff;
}
.nav .search p{
	height: 20px;
}




/* 搜索导航 */

.search-nav {
	height: 80px;

}

.search-nav ul li {
	float: left;
	margin-right: 60px;
	/* border-bottom: 1px solid #000; */
	display: inline-block;
	margin: 5px -3px;
	padding: 3px 15px;
	position: relative;
}



.search-nav>li:before {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 0;
	left: 50%;
	border-bottom: 2px solid red;
	transition: 0.2s all linear;
}

.search-nav>li:hover::before {
	left: 0;
	width: 100%;

}

.search-nav>li:hover+li::before {
	left: 0;
}










.search-nav ul li:first-child div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2026.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;


}

.search-nav ul li p {
	float: left;
	line-height: 80px;
	font-size: 12px;
	font-weight: bold;

}

.search-nav ul li:nth-child(2) div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2027.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;

}



.search-nav ul li:nth-child(3) div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2028.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;

}



.search-nav ul li:nth-child(4) div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2029.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;

}


.search-nav ul li:nth-child(5) div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2030.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;

}



.search-nav ul li:last-child div {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/project1/Image%2031.png) no-repeat center center;
	background-size: cover;
	float: left;
	position: relative;
	top: 20px;
	margin-right: 5px;

}


/* 全部结果 */
.resultBox {
	height: 50px;
	background-color: #f5f5f5;
}

.resultBox .resultall p {
	display: inline-block;
	position: relative;
	right: 920px;
	line-height: 50px;

}

.resultBox .resultall span {
	float: right;
	line-height: 50px;
	color: #000000;

}

..footu1 {
	height: 250px;
}

.footu1 .box>div {
	height: calc(250px / 5);
	border-bottom: 1px solid #f5f5f5;
}

.footu1 .box>div:last-child {
	border-bottom: 0;
}

.footu1 .box .tip span,
.footu1 .box .tip li {
	float: left;
	color: #000000;
	font-size: 15px;
	margin-right: 50px;
	line-height: 50px;
}

.footu1 .box .tip li:first-child {
	margin-left: 100px;
}

.footu1 .box .tip span {
	font-weight: bold;
}

.footu1 .box .tip .duoxuan span:first-child {
	float: right;
}

.footu1 .box .tip .duoxuan a:hover {
	color: red;
}

.footu1 .box .tip .duoxuan span:last-child {
	width: 10px;
	height: 10px;
	background: url(../img/project1/Image%20100.png) no-repeat center center;
	position: relative;
	left: 650px;
	top: 20px;

}

/* 高级选项 */
.footu1 .box .gaoji span {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	margin-right: 145px;
}


.footu1 .box .gaoji select {
	margin-left: ;
	height: 30px;
	margin-right: 30px;
}


/* 产品详情 */
.productdetail {
	background-color: #f5f5f5;
}

.productdetail .pro-nav li {
	width: 65px;
	float: left;
	border-right: 1px solid #898989;
	margin-right: 30px;
	color: #000000;
	font-size: 15px;
}

.productdetail .pro-nav input:nth-child(2),
.productdetail .pro-nav input:nth-child(3),
.productdetail .pro-nav input:nth-child(4) {
	height: 20px;
	margin-left: 5px;
}

.productdetail .pro-nav button {
	margin-right: 110px;
}

.productdetail .content {
	margin-top: 20px;
	height: 2450px;
}

.productdetail .content>div {
	width: calc((100% - 30px) / 4);
	height: calc((100% - 50px) / 6);
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #0066EE;
	float: left;

}

.productdetail .content>div:nth-child(4),
.productdetail .content>div:nth-child(8),
.productdetail .content>div:nth-child(12),
.productdetail .content>div:nth-child(16),
.productdetail .content>div:nth-child(20),
.productdetail .content>div:nth-child(24) {
	margin-right: 0;
}

.productdetail .content>div:first-child {
	background: white url(../img/project1/9GkrvvztJbp5VwOHyK8wckbIs-4506.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(2) {
	background: white url(../img/floor1/ZkkTKnQWZAXeGNoKEzaOmvZUm-1882.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(3) {
	background: white url(../img/floor1/lyjdWl3RhEg3NAKnTnso1xrBB-4234.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(4) {
	background: white url(../img/floor1/YERfB69ElT1RnXJqHoK08rngH-4939.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(5) {
	background: white url(../img/floor1/iNptnJ57MXnTRbGTHiYIyHmI8-5296.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(6) {
	background: white url(../img/project1/xYo830wPJfEuOVz9Tyi3slbVK-6761.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(7) {
	background: white url(../img/floor1/YERfB69ElT1RnXJqHoK08rngH-4939.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(8) {
	background: white url(../img/floor1/AhMtZURbXJ276bKQTbh9WYk3B-4898.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(9) {
	background: white url(../img/floor1/lyjdWl3RhEg3NAKnTnso1xrBB-4234.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(10) {
	background: white url(../img/floor1/lyjdWl3RhEg3NAKnTnso1xrBB-4234.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(11) {
	background: white url(../img/floor1/pum2OxLKStHJpnqJ2h2nZM6b5-7630.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(12) {
	background: white url(../img/project1/GVgi9oPDHppt4zxDKZ5khvQsK-7485.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(13) {
	background: white url(../img/project1/YswPvOcODNDA5ZoXaSefSvrPi-8817.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(14) {
	background: white url(../img/project1/bmxAA4HtUUqvI8JXKNsJqlb1O-4554.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(15) {
	background: white url(../img/project1/xn36dvt8pxY56V3NY9AAiQOr5-2925.w160xh160.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(16) {
	background: white url(../img/floor1/YERfB69ElT1RnXJqHoK08rngH-4939.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(17) {
	background: white url(../img/floor1/xYo830wPJfEuOVz9Tyi3slbVK-6761.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(18) {
	background: white url(../img/floor1/xYo830wPJfEuOVz9Tyi3slbVK-6761.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(19) {
	background: white url(../img/floor1/xYo830wPJfEuOVz9Tyi3slbVK-6761.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(20) {
	background: white url(../img/floor1/xYo830wPJfEuOVz9Tyi3slbVK-6761.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(21) {
	background: white url(../img/floor3/LO7s6Ie0tJzMxJN50V0ouC51x-5534.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(22) {
	background: white url(../img/floor3/LO7s6Ie0tJzMxJN50V0ouC51x-5534.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(23) {
	background: white url(../img/floor3/LO7s6Ie0tJzMxJN50V0ouC51x-5534.w164.jpg) no-repeat center 20%;
}

.productdetail .content>div:nth-child(24) {
	background: white url(../img/floor3/LO7s6Ie0tJzMxJN50V0ouC51x-5534.w164.jpg) no-repeat center 20%;
}

.productdetail .content .box {
	width: 20px;
	height: 20px;
	float: right;
	border: 1px solid #444;
	position: relative;
	right: 35px;
}

.productdetail .content span {
	font-size: 15px;
	float: right;
	position: relative;
	left: 22px;
}


.productdetail .content li {
	float: left;
	margin-top: 220px;
	margin-right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	display: inline;
	margin-bottom: 50px;
	color: white;
	font-size: 15px;
}

.productdetail .content p {
	float: left;
	padding-top: 10px;

}

.productdetail .num ul {
	margin-top: 75px;
}

.productdetail .num li {
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #898989;
	text-align: center;
	line-height: 30px;
	margin-right: 15px;
	cursor: pointer;
}

.productdetail .num a:hover {
	color: red;
}

.productdetail .num li:first-child {
	margin-left: 450px;
}

.productdetail .num button {
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: #898989;
}

.compare {
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

.compare .oprate {
	float: right;
	color: #000000;
}

.compare .container .neirong {
	background-color: white;
	padding-top: 10px;
	margin-top: 20px;

}

.compare .comList {
	display: inline-block;
}


.compare .comList .comItem {
	float: left;
	margin-right: 100px;
	margin-top: 30px;
}

.compare .neirong .comList .comItem .has .order {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.05);
	display: inline-block;
	text-align: center;
	line-height: 50px;
}

.compare .neirong .comList .comItem .has .order .cont {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;


}

.compare .neirong .oprate-compare {
	float: right;
	margin-top: 30px;
	margin-left: 10px;
	text-align: center;

}

.compare .neirong .oprate-compare .p-compare {
	width: 80px;
	height: 30px;
	line-height: 30px;
	background-color:#FF6B00;
	
}


/* 脚页 */
.shop-footer {
	width: 100%;
	height: 200px;
	background-color: white;
}

.shop-footer .shopPhoto {
	height: 199px;
	background: url(../img/35dc8412-60b2-4a6d-8fc9-4fd0bf21414b.png) no-repeat;
}

.footer {
	width: 100%;
	height: 260px;
	background-color: #FBFBFB;
}

.footer ul {
	padding: 44px 0px 37px 65px;
}

.footer li {
	width: 150px;
	height: 110px;
}

.footer li:last-child {
	width: 170px;
	border-left: 1px solid #ccc;
	padding-left: 60px;
}

.footer li:last-child h3 {
	font-size: 20px;
	letter-spacing: 0;
	text-align: left;
	color: #E1140A;
}

.footer li a:first-child {
	height: 16px;
	font-size: 16px;
	font-weight: 600;
	color: #424242;
	line-height: 16px;
}

.footer li a {
	width: 100%;
	height: 13px;
	display: block;
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 13px;
}

.foot-bot {
	height: 46px;
	background-color: #272727;
}

.foot-bot .lft {
	font-size: 12px;
	line-height: 46px;
	color: #757575;
}

.foot-bot .rgt {
	font-size: 12px;
	line-height: 46px;
}
