body{
	background-color: #E8E8E8;
}
.page-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
/* 头部 */
.header{
	height: 160px;
	background: url(img/24.png) no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 180px;
}
.header>img.touxiang{
	width: 50px;
	border-radius: 50%;
	margin-top: 40px;
}
.header>span{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	display: block;
}
.header>img.shezhi{
	position: absolute;
	top: 15px;
	left: 20px;
	width: 24px;
}
.header>img.xiaoxi{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 20px;
}
/* 会员卡 */
.membership{
	position: absolute;
	top: 140px;
	left: 8px;
	right: 8px;
	height: 184px;
	color: #fff;
	padding: 20px 8px 20px 16px;
	box-sizing: border-box;
	background: url(img/4.png) no-repeat;
	background-size: cover;
}
.membership>span.my-membership{
	font-size: 16px;
}
.membership>span.qiandao{
	float: right;
	width: 40px;
	padding: 2px 0;
	text-align: center;
	margin-right: 5px;
	font-size: 12px;
	border-radius: 10px;
	border: 1px solid #fff;
}
.membership>p{
	margin-top: 12px;
	padding: 0px 10px;
	width: 80px;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #E6DBC0;
	border-radius: 25px;
}
.membership>div{
	margin-top: 65px;
}
.membership>div>span.bianhao{
	
}
.membership>div>span.go-membership{
	float: right;
	font-size: 14px;
	margin-right: 5px;
}
/* 我的订单 */
.my-order,.my-assets,.my-helper{
	background-color: #fff;
	margin-top: 12px;
}
.my-order>.order-title,.my-assets>.assets-title,.my-helper>.helper-title{
	padding: 12px 0;
	margin: 0px 12px;
	border-bottom: 1px solid #ebebeb;
}
.order-title>*,.assets-title>*,.helper-title>*{
	vertical-align: middle;
}
.order-title>img,.assets-title>img,.helper-title>img{
	width: 23px;
}
.order-title>h3,.assets-title>h3,.helper-title>h3{
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	margin-left: 10px;
}
.order-title>span,.assets-title>span,.helper-title>span{
	float: right;
	font-size: 13px;
	line-height: 25px;
	color: #6d6d6d;
}
.my-order>ul.order-item,.my-assets>ul.assets-item,.my-helper>ul.helper-item{
	display: flex;
	padding: 15px 0;
}
ul.order-item>li,ul.assets-item>li,ul.helper-item>li{
	width: 25%;
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
ul.order-item>li>img,ul.assets-item>li>img,ul.helper-item>li>img{
	width: 32px;
}
ul.order-item>li>span,ul.assets-item>li>span,ul.helper-item>li>span{
	font-size: 12px;
}
ul.order-item>li>span.count{
	position: absolute;
	top: 10px;
	right: 15px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	color: #fff;
	background-color: #E2231A;
	border-radius: 50%;
}
.my-helper>ul.helper-item{
	flex-wrap: wrap;
}